table.aligncenter {
    margin-left:auto; 
    margin-right:auto;
    align-content: center;
     }
  
  th {
    background-color: rgb(31, 32, 32);
    color: white;
    border: 2px solid rgb(236, 107, 21);
    padding: 1em;
    margin: 1em;
  }
 
  td {
    background-color: rgb(54, 63, 63);
    color: white;
    border: 2px solid rgb(245, 199, 115);
    padding: 1em;
    margin: 1em;
  }

h1 {
    font-style: fantasy;
    font-size: 3em;
    color: whitesmoke;
    background-color: rgb(33, 43, 43);
    text-align: center;
    padding: 10px;
}

h2 {
    font-style: initial;
    text-align: center;
    font-size: larger;
    text-decoration: underline;
    margin: 20px 0px;
}  

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
}

nav ul li {
    display: inline-block;
    font-size: x-large;
}

li {
    text-align: center;
    padding: 20px 90px;
    margin-left: 30px;


}